.App {
  /* text-align: center; */
  background-color: #262834;
}
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.644);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 56, 56);
}

::-webkit-scrollbar-track {
  background: rgba(48, 38, 53, 0.466);
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: #999;
}
